body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url(imagens/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.conteudo{
    background-color: rgba(24, 20, 20, 0.596);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.conteudo h1{
    color: #31949e;
    font-family: 'Poppins', sans-serif; 
    padding: 5px;
}

.color{
    color: #fff;
}

#texto{
    border: 1px solid #fff;
    background-color: rgba(24, 20, 20, 0.74);
}
.conteudo p{
    font-family:'Poppins', sans-serif; 
    color: #fff;
    text-align: center;
}

/* fim do body */

#navegação{
    width: 100%;
    display: flex;
    justify-content: space-evenly ;
    align-items: center;
    background-color: #000;
    
}
#menu{
    display: flex;
    justify-content: space-around;
    width: 400px;
}
#menu a{
    background-color: #000;
    color: #fff;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
#menu a:hover{
    color: #31949e;
    font-family: 'Poppins';
    font-weight: bold;
}

#logo{
    width: 100px;
    display: flex;
    justify-content: center;
    background-color: #3a3939;
    opacity: 0.7;
    
}
#logo img{
   width: 50px;
   height: 50px;
}
#logo img:hover{
    animation: foguete 2s linear infinite;
}

@keyframes foguete{
    0%{
        transform: translateY(0);
    }
    5%{
        transform: translateX(2px);
    }
    9%{
        transform: translateX(2px);
    }
    10%{
        transform: translateX(-4px);
    }
    11%{
        transform: translateX(2px);
    }
    12%{
        transform: translateY(10px) rotateX(10deg);
    }
    15%{
        transform: translateY(10px) rotateX(-10deg);

    }
    100%{
        transform: translateY(-50px);
    }
}

footer{
    background-color: #000;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
footer p{
    width: 100px;
    text-align: center;
    color: #fff;
    font-family: 'Inconsolata', monospace;
}
footer input{
    background-color: rgba(24, 20, 20, 0.596);
    border:none;
    text-align: center;
    color:#fff;
    border: 1px solid #3a3939;
}