body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url(imagens/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.conteudo{
    background-color: rgba(24, 20, 20, 0.596);
    height: 100vh;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.conteudo h1{
    color: rgb(49, 148, 158, 1);
    font-family: 'Poppins', sans-serif; 
    padding: 5px;
}

.color{
    color: #fff;
}

#texto{
    border: 1px solid #fff;
    background-color: rgba(24, 20, 20, 0.74);
}
.conteudo p{
    font-family:'Poppins', sans-serif; 
    color: #fff;
    text-align: center;
}

/* fim do body */
#menuu{
    background-color: #000;
}
#menu{
    margin-left: 600px;
    width: 50vw;
    display: flex;
    justify-content: space-evenly ;
    background-color: #000;
    
}
#menu a{
    background-color: #000;
    color: #fff;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
#menu a:hover{
    color: rgb(38, 122, 190);
    font-family: 'Poppins';
    font-weight: bold;
}
#logo h1{
    margin-top: 0;
    padding:0 ;
}
#logo{
    padding: 25px 0px 0px 30px ;
}
#logo h1{
    color: rgb(49, 148, 158, 1);
}
footer{
    background-color: #000;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
footer p{
    width: 100px;
    text-align: center;
    color: #fff;
}
footer input{
    background-color: rgba(24, 20, 20, 0.596);
    border:none;
}